@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: orangered;
background: linear-gradient(180deg, orangered,orange);
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(214, 154, 241);
  
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .champtxt{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.champtxt input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.champtxt label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.champtxt span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #97abb8;
  transition: .5s;
}
.champtxt input:focus ~ label,
.champtxt input:valid ~ label{
  top: -10px;
  color: #9fafb9;
}
.champtxt input:focus ~ span::before,
.champtxt input:valid ~ span::before{
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a83232;
  cursor:pointer;
}

.pass a{
  color: #2691d9;
  text-decoration: none;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #d326d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #9cc0d8;
  transition: .5s;
  background-color: orangered;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input:valid {
  background-color: rgb(73, 231, 192);
}
